<h3>Users</h3>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %><br>

<%= link_to 'New User', new_user_path, :class=> "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Is admin?</th>
      <th>Is editor?</th>
      <th>Last login time</th>
      <th><!-- Delete & edit button --></th>
    </tr>
  </thead>
  <tbody>
    <% @users.order(is_admin: :desc, login: :asc).each do |user| %>
      <tr>
        <td><%= link_to user.login, edit_user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.is_admin? %></td>
        <td><%= user.is_editor? %></td>
        <td><%= user.last_sign_in_at %></td>
        <td>
        <%= link_to '<span class="glyphicon glyphicon-pencil"><span>'.html_safe, edit_user_path(user), :class => "btn btn-default btn-xs" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"><span>'.html_safe, user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %><br>